/* Height classes */
.h100 {
    min-height: 100vh;
}

.h90 {
    min-height: 90vh;
}

.h80 {
    min-height: 80vh;
}

.h70 {
    min-height: 70vh;
}

.h60 {
    min-height: 60vh;
}

.h50 {
    min-height: 50vh;
}

.h40 {
    min-height: 40vh;
}

.h30 {
    min-height: 30vh;
}

.h20 {
    min-height: 20vh;
}

.h10 {
    min-height: 10vh;
}